.windsurfrules

# Frontend
/frontend/node_modules
/frontend/.next
/frontend/out
/frontend/android
/frontend/.capacitor

# Backend
/backend/uv.lock
/backend/.venv

# Docker
docker-compose.yml

# Python
**/__pycache__
fitfinder.db

# Environment
**/dev/**
uv.lock
.env
.env.local
.chainlit

# Chroma DB
chroma_db/**
.files/**

# Images/images/**
